<div class="center jumbotron">
  <h1>Template App</h1>

  <h2>
  <% if user_signed_in? %>
    Hi <%= current_user.email %>
    You are now logged in<br/>
    <section>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-lg btn-primary" %>
    </section>
  <% else %>
    Rails template project
    Gems already setup
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">Devise</li>
      <li class="list-group-item list-group-item-info">Bootstrap</li>
      <li class="list-group-item list-group-item-warning">Rspec</li>
      <li class="list-group-item list-group-item-danger">Guard</li>
      <li class="list-group-item list-group-item-success">Devise</li>
      <li class="list-group-item list-group-item-info">FFaker </li>
      <li class="list-group-item list-group-item-warning">FactoryGirl </li>
      <li class="list-group-item list-group-item-danger">Shoulda matchers </li>
    </ul>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-primary" %>
  <% end %>
  </h2>
</div>
