<footer class="footer">
  <small>
    Published by <a href="https://github.com/faethonm">Faethon Milikouris</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', 'https://github.com/faethonm' %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </nav>
</footer>
